body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 2;
    gap: 150px;
}

h2 {
    grid-column: 1 / 3;
    color: navy;
    text-align: left;
    gap: 30px;
}

article p {
    text-align: justify;
}

.callout {
    grid-column: 1 / 3;
    display: block;
    color: #0f0f0f;
    background-color: #eee2e2;
    padding: 15px;
    margin-top: 20px;

}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}